/* VARIABLES */
:root {
 --grey: hsl(210, 36%, 96%);
 --primary-font: "Roboto", sans-serif;
 --secondary-font: "Open Sans", sans-serif;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--grey);
  
  display: grid;
  place-items: center;
}

main {
  text-align: center;
}

.counter h1 {
  font: normal 700 3rem / 1 var(--primary-font);
  letter-spacing: 0.25rem;
}

.counter span {
  display: inline-block;

  font: normal 700 4rem / 1 var(--secondary-font);
  margin: 2.3rem auto;
}

.buttons button {
  font: normal normal 0.7rem / normal Arial;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

footer {
  width: 100vw;
  text-align: center;

  position: absolute;
  bottom: 1.25rem;
}

footer p {
  font: normal 700 1.2rem / normal var(--secondary-font);
}

footer a {
  display: inline-block;
}

footer img {
  width: 30px;
  height: 30px;
  margin-inline: 10px;
}